.*
.DS_Store
*.out
*.o
42-EXAM/
/obj/*
a.out.dSYM
*/a.out.dSYM/*
push_swap.h.gch
libft/obj/
src/*.d
/push_swap_tester
/push_swap_visualiser
checker_linux
push_swap
checker_Mac
libft/libft.a
Push-Swap-Tester/
push_swap_test.sh
traces.txt
